/* .active{
  color:#61dafb;
}

ul li a{
  list-style: none;
  text-decoration: none;
  color:black;
} */

/* ul{
  text-decoration: none;
} */

/* .card{
  border:1px solid maroon;
  width: 60%;
  background-color: gray;
  padding: 0.1rem 1rem;
} */
.news-container{
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:1rem;
}

@media (max-width: 576px) { 
  .card{
    width: 90%;
  }
  .news-container{
    grid-template-columns: 1fr 1fr;
    gap:0.3rem;
  }
 }